BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_EABI=y
BR2_CCACHE=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_HOSTNAME="leapster-surgeon"
BR2_TARGET_GENERIC_ISSUE="Welcome to Retroleap (surgeon mode)"
BR2_ROOTFS_OVERLAY="board/leapfrog/lfx000/fsoverlay_surgeon"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/mac2612/lf2000_kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="v3.4.24_rl2"
BR2_LINUX_KERNEL_DEFCONFIG="retroleap_lf2000_surgeon"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/leapfrog/lfx000/busybox.fragment"
BR2_PACKAGE_MTD=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_FREETYPE=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_ELFUTILS=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_AVAHI=y
# BR2_PACKAGE_AVAHI_AUTOIPD is not set
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_DROPBEAR=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
